# For Loop

In [3]:
data='study mart'
for x in data:
    print(x)

s
t
u
d
y

m
a
r
t

In [4]:
for x in data.split():
    print(x)

study
mart

In [5]:
for x in range(len(data)):
    print(data[x])

s
t
u
d
y

m
a
r
t

In [7]:
for x in range(7):
    print(data[x])

s
t
u
d
y

m

In [10]:
for i in range(100,50,-10): # i = i+2
    print('data science',i)

data science 100
data science 90
data science 80
data science 70
data science 60

In [12]:
n = [2,3,4,55,60,77,100]
total = 0
for x in n:
    total = total+x
    #print(total,x)
print('Total =',total)

Total = 301

In [13]:
n = [2,3,4]
total = 1
for x in n:
    total = total*x
    print(total,x)
print('Total =',total)

2 2
6 3
24 4
Total = 24

# Nested for Loop

In [18]:
# outer loop
for i in range(1, 6):
    # nested loop
    # to iterate from 1 to 10
    for j in range(1, 6):
        # print multiplication
        print(i * j, end=' ')
    print()

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

# While Loop

In [15]:
i = 0
while (i<=5):
    print(i)
    i +=1 # i = i+1

0
1
2
3
4
5

# Nested While

In [20]:
i = 1
while i < 5 :
    j = 2
    while  j < 6 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

2 3 4 5
4 6 8 10
6 9 12 15
8 12 16 20

# For vs While Loop in Python

The for loop is used when you want to execute a set of statements for a fixed number of times. It works by iterating over a sequence, such as a list, tuple, or string, and executing the statements in the loop body once for each item in the sequence. The loop will automatically terminate once all items have been processed. Here's an example:

In [21]:
fruits = ["a", "b", "c"]
for fruit in fruits:
    print(fruit)

a
b
c

The while loop, on the other hand, is used when you want to execute a set of statements as long as a certain condition is true. The loop will continue to execute until the condition becomes false. It's important to make sure that the condition will eventually become false, or you may end up with an infinite loop. Here's an example:

In [22]:
i = 0
while i < 3:
    print(i)
    i += 1

0
1
2

# While loop through a list in Python

In [24]:
# creating a list
countries = ["USA", "CHINA", "BRAZIL", "TURKEY"]

# starting at 0 index
i = 0

# using a while loop
while i < len(countries):
    print(countries[i])

  # giving an incrememt of 1 to i
    i = i + 1

USA
CHINA
BRAZIL
TURKEY